@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #212121;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Creepster", cursive;
  font-size: 50px;
  color: #b5e589;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 4px;
}

h3 {
  font-family: "Press Start 2P", cursive;
  color: #e0e0e0;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 1.5px;
  text-align: center;
}

h5 {
  text-align: center;
  color: #e0e0e0;
}

header.MuiAppBar-root {
  background-color: #8bc673;
  color: #000000;
}

div.MuiFormControl-root {
  margin: 0.5rem;
}

input.MuiInputBase-input {
  color: #e0e0e0;
}

ul.MuiList-root {
  background-color: #8bc673;
}

div.MuiMobileStepper-root {
  background-color: #8bc673;
  margin-top: 1rem;
}

div.MuiLinearProgress-barColorPrimary {
  background-color: #7f184c;
}

div.MuiPaper-root {
  background-color: #212121;
}

svg.MuiStepIcon-root.MuiStepIcon-active {
  color: #7f184c;
}

svg.MuiStepIcon-root.MuiStepIcon-completed {
  color: #7f184c;
}

button.MuiButton-containedPrimary {
  background-color: #7f184c;
}

button.MuiButton-containedPrimary:hover {
  background-color: #8bc673;
}

span.MuiStepLabel-label.MuiStepLabel-active {
  color: #e0e0e0;
}

span.MuiStepLabel-label.MuiStepLabel-completed {
  color: #e0e0e0;
}

p.MuiTypography-body1 {
  color: #e0e0e0;
  margin-left: 1rem;
  margin-right: 1rem;
}

span.MuiStepLabel-label {
  color: #e0e0e0;
}

span.MuiButton-label {
  color: #e0e0e0;
}

button.MuiButton-root {
  margin-top: 1rem;
  margin-left: 1rem;
}

h2.MuiTypography-h6 {
  color: #8bc673;
}

svg.MuiSvgIcon-root {
  color: #7f184c;
}

h6.MuiTypography-colorInherit {
  color: #7f184c;
}
